.header-container {
  max-width: 1200px;
  height: 100px; /* 고정된 높이 */
  width: 100%; /* 전체 너비 */
  box-sizing: border-box; /* 패딩과 보더를 포함 */
  margin: 0 auto;
  padding: 0 20px;
  z-index: 2;
}

.header-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(5px); /* 블러 효과 적용 */
  z-index: 1; /* 헤더 내용 뒤에 배치 */
  background-color: rgba(255, 255, 255, 0.5); /* 블러된 배경 위에 반투명한 흰색 배경 추가 */
}

#toggle {
  position: fixed;
  top: 53px;
  left: 16%;
  width: 23px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
  width: 100%;
  height: 1.5px;
  background: #333;
}

#toggle div.bar {
  position: relative;
  transform: translateY(9px);
  transition: all 0.2s ease-in-out; /* 더 빠르고 부드러운 애니메이션 */
}

#toggle div.bar:before {
  content: " ";
  position: absolute;
  bottom: 9px;
  transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

#toggle div.bar:after {
  content: " ";
  position: absolute;
  top: 9px;
  transition: top 0.2s ease-in-out, transform 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

/* Animation */

#toggle div.bar.animate {
  background: rgba(255, 255, 255, 0);
}

#toggle div.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

#toggle div.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out, max-height 0s 0.2s ease-in-out;
  z-index: 100;
  opacity: 1;
  backdrop-filter: blur(5px);
}

#overlay nav {
  position: absolute;
  bottom: 350px;
  left: 30px;
}

#overlay nav ul,
#overlay nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  position: static;
}

#overlay nav ul {
  padding: 30px;
}

#overlay nav ul li {
  margin-bottom: 10px;
  opacity: 0;
  transition: all 0.4s ease-in-out; /* 더 빠르고 부드럽게 */
  margin-left: 60px;
}

#overlay nav ul li a {
  position: relative;
  height: 50px;
  display: inline-block;
  color: #000000;
  transition: all 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

#overlay nav ul li a:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  height: 1px;
  background: #000000;
  transition: all 0.2s ease-in-out; /* 더 빠르고 부드럽게 */
}

#overlay nav ul li a:hover:after {
  width: 100%;
  opacity: 1;
}

#overlay nav ul li a:hover {
  color: #888888;
}

#page.overlay #overlay nav ul li:nth-child(1) {
  transition: all 0.8s ease-in-out;
}
#page.overlay #overlay nav ul li:nth-child(2) {
  transition: all 0.8s 0.2s ease-in-out;
}
#page.overlay #overlay nav ul li:nth-child(3) {
  transition: all 0.8s 0.4s ease-in-out;
}
#page.overlay #overlay nav ul li:nth-child(4) {
  transition: all 0.8s 0.6s ease-in-out;
}
#page.overlay #overlay nav ul li:nth-child(5) {
  transition: all 0.8s 0.8s ease-in-out;
}

#overlay nav ul li a {
  text-transform: normal;
  font-size: 30px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}

#page.overlay #overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-height: 1200px;
  opacity: 1;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

#page.overlay #overlay nav ul li {
  margin-left: 0;
  opacity: 1;
}

header > .logo img {
  position: fixed;
  top: 50px;
  left: 20%;
  /*left: 330px;*/
  width: 150px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  border: none;
}

.all-search {
  position: fixed;
  top: 50px;
  right: 16%;
  z-index: 1000;
}

.search {
  display: table;
  position: relative;
}

.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 2; /* input이 앞에 오도록 설정 */
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  transition: width 0.6s ease;
  cursor: pointer;
  color: #000000;
  position: absolute; /* input이 svg 위에 위치하도록 설정 */
  right: 0;
}

.search input.expanded {
  width: 160px;
  padding: 0 4px;
}

.search input + div {
  position: relative;
  height: 28px;
  width: 160px; /* 확장될 때 선이 보일 크기 */
  margin: 0;
}

.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px; /* 초기 돋보기 아이콘의 크기 */
  right: 0;
  top: 0;
  fill: none;
  stroke: #000000;
  stroke-width: 2px;
  stroke-dasharray: 59 212.908;
  stroke-dashoffset: 0;
  transition: all 0.6s ease;
  opacity: 1; /* 돋보기와 선이 기본적으로 보이도록 설정 */
}

.search input.expanded + div svg {
  opacity: 1; /* 확장 시 선을 유지 */
  stroke-dasharray: 200 0; /* 선이 검색창 전체를 덮도록 설정 */
}

.search-options {
  display: none;
  position: absolute;
  right: 155px; /* input 또는 svg의 좌측에 위치시키기 위해 설정 */
  top: 2px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  border: none;
  border-bottom: 2px solid #000;
}

.search-options select {
  border: none; /* 드롭다운 메뉴의 내부 선택 박스 테두리 제거 */
  background-color: transparent;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.search input.expanded ~ .search-options {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.search input:not(.expanded) ~ .search-options {
  opacity: 0;
  visibility: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.center-bar {
  position: fixed;
  top: 55px;
  left: 44%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
  margin: 0 1rem;
  /*transition: text-shadow 300ms ease, color 300ms ease;*/
}

nav a .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  /*background-color: transparent;*/
  transform: scaleX(0);
}

nav a.active {
  color: #000000;
  text-decoration: underline;
}

nav a:hover {
  color: #b7b7b7;
}

nav a:focus {
  outline: none;
  border: none;
}

.right-container ul {
  text-align: center;
  position: fixed;
  top: 0;
  right: 15%;
  z-index: 1000;
  list-style-type: none;
}

.right-container li {
  margin: 0;
  padding: 0;
  float: left;
}

.right-container ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  display: inline;
}

.right-container ul li a:hover {
  color: #b7b7b7;
}