body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -5px auto auto auto;
  background-color: #ffffff;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav1 ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 13px;
}

.nav1 ul li a:hover {
  color: #dadada;
}

.nav2 ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}

.nav2 ul li a:hover {
  color: #dadada;
  font-weight: normal;
}

.container {
  text-align: center;
  position: fixed;
  max-width: 500px;
  padding: 20px;
}

.logo img {
  width: 100%;
  margin-bottom: 250px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:-ms-input-placeholder {
  color: #cecece;
}

.search-box input {
  width: 310px;
  padding: 7px;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  float: left;
  outline: none;
}

.search-text input {
  width: 310px;
  padding: 7px;
  border: 1px solid #b0b0b0;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  float: left;
  outline: none;
}

.search-box button {
  width: 40px;
  height: 31px;
  border: none;
  margin: auto 10px auto auto;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #000000;
  background-color: transparent;
}

.search-box button:hover {
  color: #dadada;
}

.left-header {
  position: fixed;
  top: 50px;
  left: 300px;
}

.menu-btn {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.menu-btn button {
  width: 100px;
  padding: 7px;
  margin: auto 5px 20px auto;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #ffffff;
  color: #7e7e7e;
  font-size: 13px;
}

.menu-btn button:hover {
  background-color: #000000;
}

.slider {
  position: relative;
  overflow: hidden;
  z-index: -100;

  max-width: 100%;
  width: 100%;
  height: 100%;
}

.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  animation: slider 7.5s infinite linear;
}

.slide:nth-child(1) {
  background-image: url("https://blog.kakaocdn.net/dn/O1RUm/btsILENB2ho/AozPSkNVM9jmU1DcdKhecK/img.png");
  animation-delay: 0s;
}

.slide:nth-child(2) {
  background-image: url("https://blog.kakaocdn.net/dn/cW5pdI/btsILyNyQX1/QXTGssXkSWKgA8EHVsHkF1/img.png");
  animation-delay: -2.5s;
}

.slide:nth-child(3) {
  background-image: url("https://blog.kakaocdn.net/dn/zks5N/btsIMbRVCo6/h0CLpya1g0irSEiPopDhNk/img.png");
  animation-delay: -5s;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  26% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  93% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}