@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

/* 기본 폰트 설정 */
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.create-post {
    display: flex;
    justify-content: flex-end;
    padding: 0 650px;
    margin-bottom: 20px;
    margin-top : 30px;  /*헤더 사이 여백*/
}



.post-container {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 0 20px; /* 양옆 여백 설정 */
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 감싸기 */
    gap: 20px; /* 게시물 간격 */
    box-sizing: border-box; /* 패딩을 포함하여 크기 계산 */
}

.post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 calc(25% - 20px); /* 4개씩 배치하고 간격을 고려하여 크기 설정 */
    box-sizing: border-box; /* padding을 포함하여 크기 계산 */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer; /* 마우스 커서를 손 모양으로 변경 */
    transition: transform 0.2s; /* 부드러운 변환 효과 추가 */
}

.post img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}

.post .nickname {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}
.post .nickname::before {
    content: "@"; /* @ 기호를 추가 */
    margin-right: 5px; /* @ 기호와 닉네임 사이에 간격 추가 */
}

.post p {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post small {
    color: #666;
}

.image-container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%; /* 화면 크기에 맞게 조정 */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* 커스텀 버튼 스타일 */
.post-create-btn {
    background-color: #000000; /* 원하는 배경색으로 변경 */
    color: white; /* 글자 색상 */
    padding: 15px 32px; /* 버튼 크기 (상하, 좌우 여백) */
    font-size: 16px; /* 글자 크기 */
    border: none; /* 테두리 없애기 */
    border-radius: 12px; /* 둥근 모서리 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
    display: inline-block; /* 버튼을 인라인 블록으로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    text-decoration: none; /* 텍스트 밑줄 없애기 */
    margin: 4px 2px; /* 외부 여백 */
    transition-duration: 0.4s; /* 호버 시 애니메이션 지속 시간 */
}

/* 버튼을 마우스 오버할 때 스타일 */
.post-create-btn:hover {
    background-color: #ffffff; /* 마우스 오버 시 배경색 */
    color: black;
    border: black;
}

/* 버튼을 클릭할 때 스타일 */
.post-create-btn:active {
    background-color: #3e8e41; /* 클릭 시 배경색 */
}

/* 빈 공간을 추가하여 4개 칸을 유지하도록 설정 */
.post-container::after {
    content: "";
    flex: 1 1 calc(25% - 20px); /* 빈 공간과 같은 크기 설정 */
    min-width: calc(25% - 20px); /* 빈 공간 크기 설정 */
    box-sizing: border-box; /* padding을 포함하여 크기 계산 */
}