<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../static/css/footer2.css">
    <script defer src="../static/js/mypage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
<!--<div th:fragment="footer-content">-->
<footer>
    <footer class="p-footer p-footer--gray">
        <div class="p-footer__inner">
            <address class="p-footer__address"><strong
                    class="p-footer__address__team-name">CodyUs</strong>
            </address>
            <div class="p-footer__site-group-list">
                <ul class="p-footer__site-group">
                    <li class="p-footer__site-group-item"><a href="">HOME</a> &emsp; </li> <!-- 링크 추가 해야됌-->
                    <li class="p-footer__site-group-item"><a href="">STYLE</a> &emsp; </li>
                    <li class="p-footer__site-group-item"><a href="">SHOP</a> &emsp; </li>
                    <li class="p-footer__site-group-item"><a href="">MY PAGE</a> &ensp; </li>
                    <li class="p-footer__site-group-item"><a href="">|</a> &ensp; </li>
                    <li class="p-footer__site-group-item"><a href="">고객센터 </a></li>
                </ul>
                <div class="p-footer__site-group0">
                    <div class="p-footer__site-group1">
                        <p class="cu">상호 : CodyUs | 대표팀 : A9 | 사업자등록번호 : 000-00-00000</p>
                        <br>
                        <p class="cu">연락처 : 00-000-0000 | 팩스 : 000-0000-0000 | 이메일 : a01056499749@gmail.com</p>
                        <br>
                        <p class="cu">주소 : 서울특별시 이런구 저런로 9, 스파르타빌딩 9F </p>
                    </div>
                    <div class="images">
                        <ul class="img1">
                        <li class="p-footer__site-group-item1"><a aria-label="Github" target="_blank"
                                                                 href="https://github.com/9oogling/CodyUs">
                            <img src="https://blog.kakaocdn.net/dn/cbaAw7/btsIWvpSI6q/CYPrOHDmk4nrWr2DFMQQYk/img.png"
                                 alt="Github"></a></li>
                        </ul>
                        <ul class="img2">
                        <li class="p-footer__site-group-item2"><a aria-label="notion" target="_blank"
                                                                 href="https://www.notion.so/teamsparta/CodyUs-f5ea389dfd9c41d1a27c7e44596d6f8c">
                            <img src="https://blog.kakaocdn.net/dn/Cu3xZ/btsIYyeah4r/FowAn69NHpJwc1flqUpCU1/img.png"
                                 alt="notion"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="p-footer__copyright">
                <div class="st">
                <p class="st0">이용약관</p> &emsp; <p class="st1">개인정보처리방침</p></div>
                <p class="bottom">ⓒ 2024. CodyUs. All rights reserved.</p>
            </div>
        </div>
    </footer>
</footer>
<!--</div>-->
</body>
</html>