<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="footer-content">
  <footer>
    <footer class="p-footer p-footer--gray">
      <div class="p-footer__inner">
        <address class="p-footer__address"><strong
            class="p-footer__address__team-name">CodyUs</strong>
        </address>
        <div class="p-footer__site-group-list">
          <ul class="p-footer__site-group">
            <li>
              <div class="p-footer__site-group-title">사이트맵</div>
            </li>
            <li class="p-footer__site-group-item"><a href="">HOME</a></li> <!-- 링크 추가 해야됌-->
            <li class="p-footer__site-group-item"><a href="">STYLE</a></li>
            <li class="p-footer__site-group-item"><a href="">SHOP</a></li>
            <li class="p-footer__site-group-item"><a href="">MY PAGE</a></li>
          </ul>
          <ul class="p-footer__site-group">
            <li>
              <div class="p-footer__site-group-title">고객센터</div>
            </li>
            <li class="p-footer__site-group-item">이메일: a01056499749@gmail.com</li>
            <li class="p-footer__site-group-item"><a href="">민원 접수</a></li> <!-- 링크 추가 해야됌-->
            <li class="p-footer__site-group-item"><a aria-label="Github" target="_blank"
                                                     href="https://github.com/9oogling/CodyUs"><img
                src="https://velog.velcdn.com/images/nenney/post/186a8b24-0856-408b-8679-9f9da8db5438/image.png"
                alt="Github"></a></li>
          </ul>
        </div>
        <ul class="p-footer__copyright">
          <li>ⓒ 2024. CodyUs. All rights reserved.</li>
        </ul>
      </div>
    </footer>
  </footer>
</div>
</body>
</html>