<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <title>HOME</title>
</head>
<body>
<div th:insert="header :: header-content"></div>

<div class="container">
    <div class="logo">
        <img src="https://blog.kakaocdn.net/dn/bUc9Tm/btsIScKh0Zv/6aeidAbRZ9xRa2lNY9gEK1/img.png" alt="CodyUsLogo">
    </div>
</div>

<div class="slider">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
</div>

<div class="menu-btn">
    <button class="ranking">랭킹</button>
    <button class="man">남성</button>
    <button class="woman">여성</button>
    <button class="season">계절</button>
</div>
<script src="/js/basic.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
